---
import { skillCategories } from '../../data/skills';
import SkillGroup from '../ui/SkillGroup.astro';
import SectionHeading from '../ui/SectionHeading.astro';
---

<section id="skills" class="py-16 border-t border-[var(--color-border)]">
  <div class="max-w-6xl mx-auto px-6">
    <SectionHeading num="03" title="Skills" />
    <div class="flex flex-col gap-10">
      {skillCategories.map((category) => (
        <SkillGroup category={category} />
      ))}
    </div>
  </div>
</section>
